@model MVC.Models.FirmyModel

@{
    ViewBag.Title = "Dodaj lub edytuj kontrahenta";
}

<link href="~/Content/Stylings/firmyform.css" rel="stylesheet" />
<link href="~/Content/Stylings/buttons.css" rel="stylesheet" />

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdFirmy)

        <div class="form-group">
            @Html.LabelFor(model => model.NazwaFirmy)
            <div>
                @Html.EditorFor(model => model.NazwaFirmy)
                @Html.ValidationMessageFor(model => model.NazwaFirmy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nip)
            <div>
                @Html.EditorFor(model => model.Nip)
                @Html.ValidationMessageFor(model => model.Nip)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Regon)
            <div>
                @Html.EditorFor(model => model.Regon)
                @Html.ValidationMessageFor(model => model.Regon)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Miasto)
            <div>
                @Html.EditorFor(model => model.Miasto)
                @Html.ValidationMessageFor(model => model.Miasto)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ulica)
            <div>
                @Html.EditorFor(model => model.Ulica)
                @Html.ValidationMessageFor(model => model.Ulica)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrBudynku)
            <div>
                @Html.EditorFor(model => model.NrBudynku)
                @Html.ValidationMessageFor(model => model.NrBudynku)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrLokalu)
            <div>
                @Html.EditorFor(model => model.NrLokalu)
                @Html.ValidationMessageFor(model => model.NrLokalu)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KodPocztowy)
            <div>
                @Html.EditorFor(model => model.KodPocztowy)
                @Html.ValidationMessageFor(model => model.KodPocztowy)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Poczta)
            <div>
                @Html.EditorFor(model => model.Poczta)
                @Html.ValidationMessageFor(model => model.Poczta)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrTelefonu)
            <div>
                @Html.EditorFor(model => model.NrTelefonu)
                @Html.ValidationMessageFor(model => model.NrTelefonu)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Kraj)
            <div>
                @Html.EditorFor(model => model.Kraj)
                @Html.ValidationMessageFor(model => model.Kraj)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StronaWWW)
            <div>
                @Html.EditorFor(model => model.StronaWWW)
                @Html.ValidationMessageFor(model => model.StronaWWW)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NrKonta)
            <div>
                @Html.EditorFor(model => model.NrKonta)
                @Html.ValidationMessageFor(model => model.NrKonta)
            </div>
        </div>
        <div>
            <input type="submit" value="Zapisz" class="btn btn-green buttons" />
            <input type="reset" value="Resetuj" class="btn btn-delete buttons" />
        </div>
    }
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

